*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(rgb(192, 192, 192) , rgb(189, 187, 187)),url("../images/background.jpg");
    background-blend-mode: multiply;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid gainsboro;
    height: 500px;
    width: 500px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.484);
    border-radius: 2%;
    box-shadow: 0px 0px 10px 5px rgba(233, 228, 228, 0.333);

    
}

.container .weight {
width: 90%;    
margin: 20px auto;
 display:flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: center;
 gap: 20px;

}

.container .hight {
width: 90%; 
margin: 20px auto;
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: center;
 gap: 20px;
}
p {
    margin-top: 5px;
    font-size: 10px;
}

.container span {
    width: 50%;
    height: 15%;
}

.discrebtion {
    height: 100px;
    width: 100px;
}

.container button {

    margin-top: 20px;
    margin-bottom: 30px;
    background-color: rgb(227, 189, 195);
    border: none;
    padding: 2px 15px;
    font-size: 25px;
    border-radius: 9%;    
}
.container button:hover {

    background-color: rgb(242, 220, 224);
    color:rgb(172, 132, 138) ;
    border: 2px solid rgb(172, 132, 138);
 
}
#f {
    width: 100px;
    position: absolute;
    top: 3%;
    right: 10%;
    transform: rotate(40deg);
    animation-name: dumple1;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: infinite;

}


@keyframes dumple1{
    0% {
    transform: rotate(0deg);
    }
    50% {
    transform: rotate(80deg);
    }
    100%{
        transform: rotate(0deg);
        }
}

@media screen and (max-width:768px) {
    form {
        width: 60%;    
    }
}